<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of messages</title>
<style>
    td, th {
        border: 1px solid black;
    }

    table {
    border-collapse: collapse;
}
</style>

</head>
<body>

<table width="50%">
    <tr>
        <td width="10%"><strong>Id</strong></td>
        <td width="60%"><strong>Message</strong></td>
        <td><strong>Action</strong></td>
    </tr>
    <!--Display list of messages here-->
    <tr th:each="message : ${messages}">
        <td th:text="${message.id}"></td>
        <td th:text="${message.messageBody}"></td>
        <td> <a th:href="@{/editForm/{id}(id=${message.id})}">Edit</a> |
             <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
</table>
<br>
<div>
    <a href="/addForm">Add a new message</a>
</div>


</body>
</html>